@tailwind base;
@tailwind components;
@tailwind utilities;
.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #f0f2f0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

svg.star-svg {
  display: inline;
}
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*  font-weight: bold !important;*/
/*}*/
